<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <script src="../../static/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/login.js"></script>
</head>
<body>
    <div class="container-view">
        <form id="login-form">
            <input type="number" name="phone" placeholder="手机号">
            <input type="text" name="psw" placeholder="密码">
            
        </form>
        <button id="commit-btn">登录</button>
        <div class="account-tip">
            <span class="title-span">没有账号?</span>
            <span class="regist-span">注册</span>
        </div>
    </div>
    
</body>
</html>